<% if tasks.nil? %>
<% return %>
<% else %>
<!--Task items -->
<% tasks.each do |t|%>



<div class="row">
    <div id="content" class="col-6">
        <%= t.content%>

        <span id="buttons" class="float-right">


            <button class="btn btn-success">

                <%= link_to 'Edit', edit_task_path(t), class: "text-white" %>

            </button>


        </span>
    </div>

    <div id="deadline" class="col-3">
        <%= t.deadline%>
    </div>

    <div id="priority" class="col-1">
        <%= t.priority %>
    </div>

    <div id="status" class="col-2">
        <p>
            <%= t.status %>
        </p>

        <% if t.finished_at %>
        <p id="finished-time" class="text-success">
            Finished time:
            <br>
            <%= t.finished_at%>
        </p>
        <% end %>

    </div>
</div>
<hr>


<% end %>

<%= paginate   tasks %>

<%end %>

<br>
<br>