<% if tasks.nil? %>
<% return %>
<% else %>
<!--Task items -->
<% tasks.each do |t|%>



<div class="row">
    <div id="content" class="col-5">
        <%= t.content%>
        <br>

        <span class="badge badge-success">
            Tags
        </span>
    </div>

    <div class="col-2">
        <span id="buttons" class="pull-right">


            <!-- Admin can delete tasks only; how could tasks be modified by a different role? -->
            <% if session[:admin]%>
            <button class="btn btn-danger btn-sm">
                <%= link_to 'Delete', {controller:"admins", action:"delete_task", id: t.id}, method: :delete,
                class:"text-white",
                data: {confirm: "Are you sure? \nThis can't be undone."}  %>
            </button>
            <% else %>
            <button class="btn btn-primary btn-sm">
                <%= link_to 'Edit Task', edit_task_path(t), class: "text-white" %>
            </button>
            <button class="btn btn-success btn-sm">
                <%= link_to 'Tagging', task_tags_path(t), class: "text-white"  %>
            </button>
            <%end%>


        </span>
    </div>

    <div id="deadline" class="col-2">
        <%= t.deadline.strftime('%Y-%m-%e %H:%M')%>
    </div>

    <div id="priority" class="col-1">
        <%= t.priority %>
    </div>

    <div id="status" class="col-2">
        <p>
            <%= t.status %>
        </p>

        <% if t.finished_at %>
        <p id="finished-time" class="text-success">
            Finished time:
            <br>
            <%= t.finished_at.strftime('%Y-%m-%e %H:%M') %>
        </p>
        <% end %>

    </div>
</div>
<hr>


<% end %>

<%= paginate   tasks %>

<%end %>

<br>
<br>