<div class="container">
    <%= form_for @task do |f| %>
    <fieldset>


        <div id="content" class="form-group row ">
            <h3 class="w-100">
                <% if controller.action_name == "new"%>
                <%= f.label :content, 'New Task', class: "col col-form-label" %>
                <% else %>
                <%= f.label :content, 'Edit Task', class: "col col-form-label" %>
                <%end%>
            </h3>


            <span class="col-md-6">
                <%= f.text_area :content, maxlength: 256, placeholder: "Maximum 256 characters", class:"form-control" %>
            </span>
        </div>

        <div id="deadline" class="form-group row">
            <div class="w-100">
                <%= f.label :deadline, class: "col col-form-label" %>
            </div>

            <div class="col-4">
                <%= f.datetime_select :deadline, class:"form-control " %>
            </div>



        </div>

        <div id="priority" class="form-group row">
            <div class=" col w-100">
                <%= f.label :priority, class: "col-form-label" %>

                <span>&nbsp &nbsp</span>

                <%= f.select :priority, [ 'Normal', 'High', 'Low'], class:"form-control" %>

                <span>&nbsp &nbsp</span>


                <%= f.label :status, class: "col-form-label text-center" %>
                <span>&nbsp &nbsp</span>
                <%= f.select :status, [ 'Working', 'Pending', 'Finished'], class:"form-control text-center"%>
            </div>
        </div>
        <hr>

        <!-- Neglect finished time -->
        <div id="action" class="form-group row ">
            <div class="col">
                <span class="pull-right">
                    <button class="btn btn-secondary">
                        <%= link_to 'Cancel', root_path %>
                    </button>

                    <%= f.submit "Save", class:"btn btn-primary"%>






                </span>
            </div>

        </div>

    </fieldset>
    <% end %>
    <!-- Conditionally show "Delete Task" button -->
    <% if controller.action_name =="edit" %>


    <%= button_to "Delete Task", @task, method: :delete, class: "btn btn-danger float-right", data: {confirm: "Are you sure? \nThis can't be undone."} %>

    <%end%>
</div>