<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="container">

    <div class="row justify-content-between ">




      <div id="sorter">


        <span class="">Sort by:</span>
        <br>
        <%= link_to 'Task Content', tasks_path(condition: "Content") %> |
        <%= link_to 'Deadline', tasks_path(condition: "deadline") %> |
        <%= link_to 'Priority', tasks_path(condition: "priority") %> |
        <%= link_to 'Status', tasks_path(condition: "status") %>
        <% if @any_finished %>
        <%= link_to ' | Finished Time', tasks_path(condition: "finished_at") %>
        <% end%>





      </div>


      <% if !session[:admin]%>
      <span>
        <%= form_tag search_results_path, method: :get do %>
        <%= text_field_tag "keyword", nil, placeholder: "Type and 'Enter' to search for task contents or tags", class:"form-control-sm", size:"45" %>
        <% submit_tag "Invisible submit" %>
      </span>
      <% end %>

      <%end%>





    </div>
    <br>
    <br>
    <br>



    <!-- Tasks info -->
    <%= render 'tasks_info' %>


    <%= render 'index_form', {tasks: @tasks, tags: @tags} %>


  </div>






</body>

</html>