<div class="container">
    <h1>Log in</h1>
    <%= form_for :login_data, url: login_path do |f| %>


    <fieldset>
        <div class="row" id="email">
            <p>
                <%= f.label :email, "Please enter your email", class: "col col-form-label" %>
            </p>
            <br>

            <p>
                <%= f.text_field :email, class:"form-control"%>

            </p>




        </div>

        <br>



        <div class="row" id="password">
            <p>
                <%= f.label :password, "Please enter your password", class: "col col-form-label" %>
            </p>
            <br>
            <p>
                <%= f.text_field :password, class:"form-control"%>

            </p>





        </div>

        <div class="row">
            <p>
                <span>&nbsp&nbsp</span>

                <%= f.submit "Submit", class: "btn btn-primary" %>
            </p>
            <br>



        </div>






    </fieldset>

    <br>
    <br>

    <p>New user and wonna create your own tasks?
        <%= link_to 'Sign up now!', new_user_path %>
    </p>




    <% end %>


</div>