<div class="container">
    <div class="row" id="heading">
        <h3>Add tags to your task:</h3>
    </div>

    <div class="form-group row" id="tag-adding">
        <%= form_for [@task, @tag] do |f| %>
        <fieldset>
            <%= f.text_field :content, placeholder: "maximum 16 characters" %>
            <%= f.submit "Create tag",class:"btn btn-success btn-sm" %>
            <button class="btn btn-primary btn-sm ">
                <%= link_to 'Back', root_path, class:"text-white" %>
            </button>
        </fieldset>
        <% end %>
    </div>

    <hr>
    <div class="row">
        <h5>Tags for this task:</h5>
        <br>

    </div>

    <% @tags.each do |t| %>
    <div class="row">
        <p class="badge badge-success">

            <%= t.content%>

        </p>

        <p>
            &nbsp
            <%= link_to 'Delete Tag', task_tag_path(id: t.id), method: :delete %>
        </p>

    </div>
    <% end%>

    <br>






</div>