<!DOCTYPE html>
<html>

<head>
  <title>Taskmaster</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>



<body>
  <nav class="navbar ">
    <div class="container ">

      <!-- Left part -->
      <div>
        <span id="brand" class="navbar-brand">
          <a href="/">TaskMaster</a>

        </span>


        <!--FIXME: make it form_for with text_field and submit (hidden)-->
        <input type="text" size="35" placeholder="Type and press 'Enter' to search tasks" class="form-control-sm">

        <!-- Flash is placed in application layout to just implement once -->
        <% if flash[:success] %>
        <span class="text-success">
          <%= flash[:success]%>
        </span>
        <% elsif flash[:error] %>
        <span class="text-danger">
          <%= flash[:error]%>
        </span>
        <%else%>
        <%end%>




      </div>




      <!-- Right part-->
      <div id="util" class="float-right">





        <span id="account">
          <!-- Sign up, should switch to "edit account" when logged in-->
          <% if session[:user_id] %>
          <button class="btn btn-link">
            <%= link_to 'Edit Account', edit_user_path(@user) %>
          </button>
          <% else %>
          <button class="btn btn-link">
            <%= link_to 'Sign up', new_user_path %>
          </button>
          <% end %>




          <!-- Login, should switch to "Log out" when logged-in -->
          <% if session[:user_id] ==  nil %>
          <button type="button" class="btn btn-link">
            <%= link_to 'Log In', login_path %>
          </button>
          <!-- user == visitor -->
          <% else %>
          <button type="button" class="btn btn-link">
            <%= link_to 'Log Out', logout_path %>
          </button>


          <%end%>


        </span>
      </div>









    </div>


  </nav>
  <hr>




  <%= yield %>
</body>

<footer class="footer ">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <span id="copyright" class="">
        ©
        <%=Time.current.year%>, TaskMaster
      </span>

      <% if session[:user_id].nil? %>
      <%= ""%>
      <% else %>
      <span class="pull-right">
        <button class="btn btn-primary">
          <%= link_to '+ New Task', new_task_path, class: "text-white" %>
        </button>
      </span>
      <% end%>


    </div>
  </div>
</footer>

</html>