<!DOCTYPE html>
<html>

<head>
  <title>Taskmaster</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>



<body>
  <nav class="navbar ">
    <div class="container ">

      <!-- Left part -->
      <div>
        <span id="brand" class="navbar-brand">
          <a href="/">TaskMaster</a>

        </span>


        <!--FIXME: make it form_for with text_field and submit (hidden)-->
        <input type="text" size="35" placeholder="Type and press 'Enter' to search tasks" class="form-control-sm">

        <!--TODO: check flash-->
        <% if flash[:success] %>
        <span class="text-success">
          <%= flash[:success]%>
        </span>
        <% elsif flash[:error] %>
        <span class="text-danger">
          <%= flash[:error]%>
        </span>
        <%else%>
        <%end%>




      </div>




      <!-- Right part-->
      <div id="util" class="float-right">


        <!-- 
        TODO: add actual tag links dynamically 
        FIXME: why it's not working? maybe it's about JS or CSS for Bootstrap?? 
        Or just implement with collection_select?
         -->

        <span class="dropdown" data-turbolinks="false">
          <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown">
            ALL TASKS
          </button>

          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">ALL TASKS</a>
            <a class="dropdown-item" href="#">TASK TAGS</a>

          </div>
        </span>


        <span id="account">

          <button class="btn btn-link">
            <%= link_to 'Sign up', '#' %>
          </button>

          <button type="button" class="btn btn-link">
            <%= link_to 'Log In', '#' %>
          </button>


        </span>
      </div>









    </div>


  </nav>
  <hr>




  <%= yield %>
</body>

<footer class="footer ">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <span id="copyright" class="">
        ©
        <%=Time.current.year%>, TaskMaster
      </span>

      <span class="pull-right">
        <button class="btn btn-primary">
          <%= link_to '+ New Task', new_task_path, class: "text-white" %>
        </button>
      </span>
    </div>
  </div>
</footer>

</html>