<!DOCTYPE html>
<html>

<head>
  <title>Taskmaster</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all',
          'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track':
            'reload' %>
</head>



<body>
  <nav class="navbar">
    <div class="container ">


      <span id="brand" class="navbar-brand">
        <a href="/">TaskMaster</a>

      </span>





      <div id="util">

        <span id="search" class="flow-left">
          <!--FIXME: make it form_for with text_field and submit (hidden)-->
          <input type="text" size="25" value="Search your tasks here">
        </span>
        <span>

        </span>
        <span id="account">

          <button class="btn btn-link">
            <%= link_to 'Register', '#' %>
          </button>

          <button type="button" class="btn btn-link">
            <%= link_to 'Log In', '#' %>
          </button>
        </span>
      </div>









    </div>

  </nav>




  <%= yield %>
</body>

<footer>
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <span id="copyright" class="">
        ©
        <%=Time.current.year%>, TaskMaster
      </span>

      <span class="pull-right">
        <button class="btn btn-primary">
          <%= link_to '+ New Task', new_task_path, class: "text-white" %>
        </button>
      </span>
    </div>
  </div>
</footer>

</html>